@media only screen and (min-width: 581px) {
    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vw
    }
    
    .Footer h2{
        font-family:sans-serif;
        text-align: center;
        font-size: 3.8vw;
        color: #CCF382;
    }
    
    .Footer-Images {
        display: flex;
        justify-content: space-evenly;
    }
    
    .Footer-Images img{
        margin-left: 0px;
        height: 8vw;
    }
    
    .emailClick {
        cursor: pointer;
    }
}

/* !--- Mobile ---! */

@media only screen and (max-width: 580px) {
    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 35vw;
        padding-bottom: 10vw;
    }
    
    .Footer h2{
        font-family:sans-serif;
        text-align: center;
        font-size: 5.8vw;
        color: #CCF382;
    }
    
    .Footer-Images {
        display: flex;
        justify-content: space-evenly;
    }
    
    .Footer-Images img{
        margin-left: 0px;
        height: 8vw;
    }
    
    .emailClick {
        cursor: pointer;
    }
}

@media only screen and (max-width: 4475px) {
    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vw;
        padding-bottom: 20vw;
    }
    
    .Footer h2{
        font-family:sans-serif;
        text-align: center;
        font-size: 8.8vw;
        color: #CCF382;
    }
    
    .Footer-Images {
        display: flex;
        justify-content: space-evenly;
    }
    
    .Footer-Images img{
        margin-left: 0px;
        height: 15vw;
    }
    
    .emailClick {
        cursor: pointer;
    }
}