.Experience {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.Experience-resume {
  display: flex;
  flex-direction: column;
  gap: 220px;
}

/* 
 * LG Tablet
*/
@media only screen and (max-width: 1024px) {
  .Experience-resume {
    gap: 60px;
  }
}

/* 
 * Tablet
*/
@media only screen and (max-width: 768px) {
  .Experience-resume {
    gap: 60px;
  }
}

/* 
 * SM Mobile
*/
@media only screen and (max-width: 640px) {
  .Experience-resume {
    gap: 60px;
  }
}

/* 
 * Mobile
*/
@media only screen and (max-width: 475px) {
  .Experience-resume {
    gap: 60px;
  }
}