.carousel-frame {
  width: 100vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 1vw; */
}

.carousel-frame-content {
  display: flex;
  width: 80vw;
  height: 40vw;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

.carousel-container {
    width: 80vw;
    height: 40vw;
    display: flex;
    position: absolute;
    /* margin-bottom: 15vw; */
    align-items: center;
}
  
.carousel {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
  
.carousel-item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.carousel-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 2;
  top: 50%;
  cursor: pointer;
}
  
.left-btn {
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  left: 40px;
}
  
.right-btn {
  border-right: 2px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
  right: 40px;
}
  
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

  @media only screen and (max-width: 1000px) {
    .carousel-btn {
      display: none;
    }
  }