.Experience {
  width: 100vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Experience-Content {
  background-color: #FFFFFF;
  width: 90vw;
  height: 45vw;
  display: flex;
}

.Experience-Content-Tabs {
  width: 33vw;
  display: flex;
  flex-direction: column;
}

.Experience-Content-Tabs h1{
  background-color: #482FD3;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  font-size: 2.0vw;
  width: 100%;
}

.Experience-Content-Tabs li {
  color: #4831D4;
}

.Experience-Content-Tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4831D4;
  font-size: 1.5vw;
  font-weight: bold;
}

.Experience-Content-Seperator {
  background-color: #482FD3;
  width: 2px;
}

.Experience-Content-Information {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.Experience-Content-Information h1 {
  color: #4831D4;
  align-self: center;
}

.Experience-Content-Detail {
  margin-left: 4vw;
  /* width: 40vw; */
}

.Experience-Content-Detail h2 {
  color: #4831D4;
}

.Experience-Content-Detail li {
  font-size: 1.5vw;
}