@media only screen and (min-width: 1001px) {
    .Projects {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .Projects img{
        /* width: 60vw; */
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }
    
    .Projects-BackCover{
        position: absolute;
        transform: translate(-100%);
        top: 0;
        right: 0;
        bottom: 0; 
        background-color: rgba(16,16,16,0.8);
        width: 100%;
        height: 40vw;
        box-shadow: 0 0 50px black;
        opacity: 0;
    
        transition: all 0.2s ease-in-out;
        -o-transition: left 0.4s ease-in-out;
        -ms-transition: left 0.4s ease-in-out;
        -moz-transition: left 0.4s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
    
    .Projects-BackCover h1{
        font-size: 10vw;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        justify-content: end;
        color: #FFFFFF;
    }
    
    .Projects-BackCover-Content {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: 10vw;
        margin-top: 5vw;
    }
    
    .Projects-BackCover-Content h2 {
        display: flex;
        font-size: 6vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .Projects-BackCover-Content h4 {
        font-size: 1.5vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .Projects-BackCover-Content button{
        width: 10.5vw;
        height: 3vw;
        padding-top: 0.8vw;
        padding-bottom: 0.8vw;
        background-color: #D09600;
        color: #FFFFFF;
        border: none;
        font-weight: bold;
        font-size: 1.1vw;
        cursor: pointer;
    }
    
    .Projects:hover .Projects-BackCover {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .Projects {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .Projects img{
        /* width: 60vw; */
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }

    .Projects-BackCover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; 
        background-color: rgba(16,16,16,0.8);
        width: 100%;
        height: 40vw;
        box-shadow: 0 0 1.2vw black;
    }
    
    .Projects-BackCover h1{
        display: none;
    }
    
    .Projects-BackCover-Content {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: 10vw;
        margin-top: 15vw;
    }
    
    .Projects-BackCover-Content h2 {
        display: flex;
        font-size: 6vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .Projects-BackCover-Content h4 {
        font-size: 1.5vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .Projects-BackCover-Content button{
        width: 16.5vw;
        height: 5vw;
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        background-color: #D09600;
        color: #FFFFFF;
        border: none;
        font-weight: bold;
        font-size: 2vw;
        cursor: pointer;
    }
}
  
  
@media only screen and (max-width: 600px) {
    .Projects {
        width: 100%;
        height: 39vh;
        position: relative;
        overflow: hidden;
    }
    
    .Projects img{
        /* width: 60vw; */
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }

    .Projects-BackCover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; 
        background-color: rgba(16,16,16,0.8);
        width: 100%;
        height: 50vw;
        box-shadow: 0 0 1.2vw black;
    }
    
    .Projects-BackCover h1{
        display: none;
    }
    
    .Projects-BackCover-Content {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: 10vw;
        margin-top: 20vw;
    }
    
    .Projects-BackCover-Content h2 {
        display: flex;
        font-size: 6vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .Projects-BackCover-Content h4 {
        font-size: 1.5vw;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .Projects-BackCover-Content button{
        width: 16.5vw;
        height: 5vw;
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        background-color: #D09600;
        color: #FFFFFF;
        border: none;
        font-weight: bold;
        font-size: 2vw;
        cursor: pointer;
    }
}